 # Pendahuluan
 Oleh: Nalendra Dwimantara
 
 Outline:
 
 1. Membuat variabel pada python
 2. Mengenal tipe data
 3. Operator pada python

## 1. Membuat Variabel pada python

Gunakan Huruf / kata dan diikuti tanda "=" serta nilai yang diingankan

*(Hindari penggunaan spasi)

In [1]:
a = 18
angka = 3.14
Nama_Lengkap = "Nalendra Dwimantara"
Umur = a

cara memanngil variabel yang dibuat dengan menuliskan langsung nama variabel atau menggunakan perintah "print()"

In [2]:
a

18

In [3]:
print(a)

18

In [4]:
Nama_Lengkap

'Nalendra Dwimantara'

In [5]:
print(Nama_Lengkap)

Nalendra Dwimantara

In [7]:
a, angka, Nama_Lengkap, Umur

(18, 3.14, 'Nalendra Dwimantara', 18)

In [8]:
print(a, angka, Nama_Lengkap, Umur)

18 3.14 Nalendra Dwimantara 18

In [9]:
print('Nama saya', Nama_Lengkap, 'tahun ini saya berumur', Umur, "tahun")

Nama saya Nalendra Dwimantara tahun ini saya berumur 18 tahun

In [10]:
print(f'Nama saya {Nama_Lengkap} tahun ini saya berumur {Umur} tahun')

Nama saya Nalendra Dwimantara tahun ini saya berumur 18 tahun

#### Tugas 1

gelas1 berisi kopi

gelas2 berisi susu

Bagaimana cara menukar isi gelas dimana gelas1 berisi susu dan gelas2 berisi kopi?

### Bonus

Kita dapat membuat variabel menggunakan fungsi input()

In [11]:
hewan = input("Masukan nama Hewan: ")
kaki = input("Jumlah kaki: ")
print("jumlah kaki", hewan, "adalah", kaki)

Masukan nama Hewan: kuda
Jumlah kaki: 4
jumlah kaki kuda adalah 4

***************



## 2. Mengenal tipe data pada python

Berikut ini adalah tipe-tipe data pada python

**a. int (Integer)** merupakan tipe data *NUMERIK (ANGKA)* yang menyatakan bilangan bulat

**b. float** merupakan tipe data *NUMERIK (ANGKA)* yang menyatakan bilangan desimal

**c. str (String)** merupakan tipe data yang menyatakan karakter/kalimat bisa berupa huruf atau gabungan huruf-angka-dll (diapit tanda " atau ')

**d. bool (Boolean)** merupakan tipe data yang menyatakan benar *TRUE* yang bernilai 1, atau salah *FALSE* yang bernilai 0

**e. list** merupakan tipe data yang menyimpan berbagai tipe data dan isinya *BISA* diubah-ubah

**f. tuple** merupakan tipe data yang menyimpan berbagai tipe data dan isinya *TIDAK BISA* diubah-ubah

**g. dict (Dictionary)** merupakan tipe data yang menyimpan berbagai tipe data berupa pasangan penunjuk dan nilainya

In [12]:
a = 18
b = 3.14
c = 'belajar python'
d = True
e = ["nama",18,True]
f = (Nama_Lengkap, Umur,d)
g = {'Nama': Nama_Lengkap,'Umur' : Umur}

Cara mengetahui tipe data dengan menggunakan fungsi **type(nama_variable)**

In [13]:
type(a)

int

In [14]:
(type(b), type(c), type(d), type(e), type(f), type(g))

(float, str, bool, list, tuple, dict)

Tipe data jika kita menggunakan fungsi **input()** adalah *string*

In [15]:
angka = input("masukan angka :")

masukan angka :3

In [16]:
type(angka)

str

In [17]:
print(angka)

3

In [18]:
angka

'3'

Cara merubah tipe data

In [19]:
bulat = int(angka)

In [20]:
type(bulat)

int

In [21]:
bulat

3

In [22]:
rasional = float(angka)

In [23]:
type(rasional)

float

In [24]:
rasional

3.0

#### Tugas 2

buat variabel dengan fungsi input() dimana

bil_bulat diisi oleh bilangan bulat

bil_rasional diisi oleh bilangan rasional

sehingga ketika dicek tipe datanya diperoleh

type(bil_bulat) adalah int

type(bil_rasional) adalah float

### Bonus

fungsi **input.split()** untuk memisah string yang dibuat oleh fungsi **input()** yang dipisah oleh *SPACE (spasi)* hasilnya berupa *list*

In [25]:
angka = input("masukan angka :")

masukan angka :1 2 3 4 5 6

In [26]:
angka

'1 2 3 4 5 6'

In [27]:
type(angka)

str

In [28]:
angka = angka.split()

In [29]:
type(angka)

list

In [30]:
angka

['1', '2', '3', '4', '5', '6']

****************



## 3. Operator pada python

Berikut ini adalah operasi hitung pada python

#### a. Operator Perbandingan

In [23]:
eq = a == b
neq = a != b
gr = a > b
lo = a < b
greq = a >= b
loeq = a <= b

print("a =",a, "dan b =",b)
print("apakah a sama dengan b ->",eq)
print("apakah a tidak sama dengan b ->",neq)
print("apakah a lebih besar dari b ->",gr)
print("apakah a lebih kecil dari b ->",lo)
print("apakah a lebih besar sama dengan b ->",greq)
print("apakah a lebih kecil sama dengan b ->",loeq)

a = 18 dan b = 3.14
apakah a sama dengan b -> False
apakah a tidak sama dengan b -> True
apakah a lebih besar dari b -> True
apakah a lebih kecil dari b -> False
apakah a lebih besar sama dengan b -> True
apakah a lebih kecil sama dengan b -> False

### Bonus

**not** Negasi 

**and** Keluaran hanya TRUE jika semua input bernilai TRUE. Jika salah satu input FALSE, keluaran akan FALSE. 

**or** Keluaran akan TRUE jika ada satu atau lebih input yang TRUE. Jika semua input FALSE, keluaran akan FALSE.

In [32]:
p = 5

In [33]:
p > 3

True

In [34]:
not p > 3

False

In [35]:
p >= 3 and p <= 7

True

In [36]:
p >= 3 or p <= 7

True



#### b. Operator Aritmatika

In [37]:
jumlah = a+b
kurang = a-b
kali = a*b
bagi = a/b
pembulatan = a//b
pangkat = a**2
mod = a%7

print("a =",a, "dan b =",b)
print("a+b =", jumlah)
print("a-b =", kurang)
print("a*b =", kali)
print("a/b =", bagi)
print("a//b =", pembulatan)
print("a**2 =", pangkat)
print("a mod 7 =", mod)

a = 18 dan b = 3.14
a+b = 21.14
a-b = 14.86
a*b = 56.52
a/b = 5.732484076433121
a//b = 5.0
a**2 = 324
a mod 7 = 4

#### Tugas 3

Buatkan program yang dapat memeriksa apakah (x . y) > (x + y) dengan x dan y anggota bilangan bulat

****

## Pembahasan

#### Tugas 1

In [38]:
gelas1 = "kopi"
gelas2 = "susu"

gelas3 = gelas1
gelas1 = gelas2
gelas2 = gelas3

print("gelas1 berisi ", gelas1)
print("gelas2 berisi ", gelas2)

gelas1 berisi  susu
gelas2 berisi  kopi

#### Tugas 2

In [39]:
bil_bulat = int(input("masukan bilangan bulat : "))
bil_rasional = float(input("masukan bilangan rasional : "))

masukan bilangan bulat : 3
masukan bilangan rasional : 2.7

In [40]:
type(bil_bulat)

int

In [41]:
type(bil_rasional)

float

#### Tugas 3

In [51]:
x = int(input("masukan bilangan bulat : "))
y = int(input("masukan bilangan bulat : "))
print()
perkalian = x*y
penjumlahan = x+y
banding = perkalian >= penjumlahan

print("(x . y) =", perkalian, "dan (x + b) =", penjumlahan)
print()
print('apakah (x . y) > (x + b) ?', banding)

masukan bilangan bulat : -2
masukan bilangan bulat : 3

(x . y) = -6 dan (x + b) = 1

apakah (x . y) > (x + b) ? False