 # Pendahuluan
 Oleh: Nalendra Dwimantara
 
 Outline:
 
 1. Membuat variabel pada python
 2. Mengenal tipe data
 3. Operator pada python

## 1. Membuat Variabel pada python

Gunakan Huruf / kata dan diikuti tanda "=" serta nilai yang diingankan

*(Hindari penggunaan spasi)

In [1]:
a = 18
b = 3.14
Nama_Lengkap = "Nalendra Dwimantara"
Umur = a

cara memanngil variabel yang dibuat dengan menuliskan langsung nama variabel atau menggunakan perintah "print()"

In [2]:
a

18

In [3]:
print(a)

18

In [4]:
Nama_Lengkap

'Nalendra Dwimantara'

In [5]:
print(Nama_Lengkap)

Nalendra Dwimantara

In [6]:
a, b, Nama_Lengkap, Umur

(18, 3.14, 'Nalendra Dwimantara', 18)

In [12]:
print(a, b, Nama_Lengkap, Umur)

5 3.14 Nalendra Dwimantara 18



## 2. Mengenal tipe data pada python

Berikut ini adalah tipe-tipe data pada python
#### a. int (Integer)
merupakan tipe data NUMERIK (ANGKA) yang menyatakan bilangan bulat
#### b. float
merupakan tipe data NUMERIK (ANGKA) yang menyatakan bilangan desimal
#### c. str (String)
merupakan tipe data yang menyatakan karakter/kalimat bisa berupa huruf atau gabungan huruf-angka-dll (diapit tanda " atau ')
#### d. bool (Boolean)
merupakan tipe data yang menyatakan benar TRUE yang bernilai 1, atau salah FALSE yang bernilai 0
#### e. list
merupakan tipe data yang menyimpan berbagai tipe data dan isinya BISA diubah-ubah
#### f. tuple
merupakan tipe data yang menyimpan berbagai tipe data dan isinya TIDAK BISA diubah-ubah
#### g. dict (Dictionary)
merupakan tipe data yang menyimpan berbagai tipe data berupa pasangan penunjuk dan nilainya

In [11]:
a = 18
b = 3.14
c = 'belajar python'
d = True
e = ["nama",18,True]
f = (Nama_Lengkap, Umur,d)
g = {'Nama': Nama_Lengkap,'Umur' : Umur}

In [8]:
type(a)

int

In [44]:
type(b)

float

In [9]:
type(c)

str

In [10]:
type(d)

bool

In [12]:
type(e)

list

In [13]:
print(e)

['nama', 18, True]

In [14]:
i = [Nama_Lengkap, Umur, d]

In [15]:
print(i)

['Nalendra Dwimantara', 18, True]

In [64]:
type(f)

tuple

In [65]:
print(f)

('Nalendra Dwimantara', 18, True)

In [49]:
type(g)

dict

In [67]:
print(g)

{'Nama': 'Nalendra Dwimantara', 'Umur': 18}



## 3. Operator pada python

Berikut ini adalah operasi hitung pada python

#### a. Operator Perbandingan

In [13]:
eq = a == b
neq = a != b
gr = a > b
lo = a < b
greq = a >= b
loeq = a <= b

print("a =",a, "dan b =",b)
print("apakah a sama dengan b ->",eq)
print("apakah a tidak sama dengan b ->",neq)
print("apakah a lebih besar dari b ->",gr)
print("apakah a lebih kecil dari b ->",lo)
print("apakah a lebih besar sama dengan b ->",greq)
print("apakah a lebih kecil sama dengan b ->",loeq)

a = 18 dan b = 3.14
apakah a sama dengan b -> False
apakah a tidak sama dengan b -> True
apakah a lebih besar dari b -> True
apakah a lebih kecil dari b -> False
apakah a lebih besar sama dengan b -> True
apakah a lebih kecil sama dengan b -> False



#### b. Operator Aritmatika

In [16]:
jumlah = a+b
kurang = a-b
kali = a*b
bagi = a/b
pembulatan = a//b
pangkat = a**2
mod = a%7

print("a =",a, "dan b =",b)
print("a+b =", jumlah)
print("a-b =", kurang)
print("a*b =", kali)
print("a/b =", bagi)
print("a//b =", pembulatan)
print("a**2 =", pangkat)
print("a mod 7 =", mod)

a = 18 dan b = 3.14
a+b = 21.14
a-b = 14.86
a*b = 56.52
a/b = 5.732484076433121
a//b = 5.0
a**2 = 324
a mod 7 = 4

In [17]:
# Tulis Komentar disini